<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload - Neyaz's World</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>{{ request.path.split('/')[-1].replace('-', ' ').title() }}</h1>
    <form action="{{ request.path.replace('/','/convert/',1) }}" method="post" enctype="multipart/form-data">
      <div id="drop-area">
        <p>Drag and drop files here or click to select</p>
        <input type="file" id="fileElem" name="files" multiple>
      </div>
      <button class="btn">Convert</button>
    </form>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>